@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input {
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
}
